@tailwind base;
@tailwind components;
@tailwind utilities;

.h-px {
    height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-height: 2.5rem;
    font-size: 0.875rem;
    
  }