{% extends "index.html" %} 
{% load static %} 
{% load custom_tags %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{%block snup%}
<label class="btn btn-xs hover:text-white sm: float-right" for="my-modal">
  Add social
  <!-- <label for="my-modal">Add social</label> -->
  <i class="fa-solid fa-plus text-teal-600 ml-2"></i>
</label>

{%endblock snup%}
{%block navele%}
 <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-700 rounded-box w-52">
          <li><a href='{% url "change_password"%}'>Change Password</a></li>
          <li><a href="{%url 'logout'%}">Logout</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
{%endblock navele%}

<!-- The button to open modal -->

<!-- Put this part before </body> tag -->

{% block content %}

{% for message in messages  %}            
<div class=" absolute top-0 right-0  z-50 alert alert-success shadow-lg mt-4 w-96 float-right rounded-lg h-10" id="success-alert">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{ message }}</span>
  </div>
</div>
{% endfor %} 

<input type="checkbox" id="my-modal" class="modal-toggle" />

<div class="modal ">
  <div class="modal-box ">
    <div class="modal-action-pass float-right absolute top-0 right-3">
        
      <label for="my-modal" class=" float-right btn   btn-xs btn-circle " type="submit" 
      >X</label>
    </div>
  
    <div class="w-full">
      
      <form method="POST" action="" class="rounded px-8 pt-6 pb-8 mb-4">
       {%csrf_token%}
        <div class="mb-4 w-full">
          <label
            class="block text-white-100 text-sm font-bold mb-2"
            for="username"
          >
            Social Platform Name
          </label>
          <input
            class="input input-bordered input-sm border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
            id="platform"
            type="text"
            placeholder="Platform"
            name="platform"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-white-100 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <div class="relative">
             <input
              class=" passval input input-bordered input-sm border rounded w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="spassword"
              type="password"
              placeholder="******"
              name="password"
              value=""
            />
             <button class="strpass btn btn-xs absolute top-1-2 right-2">GENERATE</button> 
        </div>
          

          
          <span class="text-xs text-red-400 formerror" id="Errorplt"></span>
        </div>
       
     
    </div>
    
      <div class="flex justify-center items-center ">
        <button  class="btn btn-wide" type="submit" onclick="platformsubmit(event)" 
        >Submit</button>
      </div>
    </form>
  </div>
</div>

{%if user != none%}


  <div class="overflow-x-auto w-full">
    <table class="table w-full pl-96">
      <!-- head -->
      <thead>
        <tr>
          
          <th class="pl-16">Name</th>
          <th class="pl-32">password</th>
          <th>Last Visit</th>
          <th>Make changes</th>
          <th>Remove from database</th>

          
        </tr>
      </thead>
      <tbody>
      {% for social in password %}
     
       
    
        <!-- row 1 -->
       
          
        <tr id="{{social.decrpt_key|removebyte}}">
          
          <td class="hidden">
            <div class="font-bold pl-12 ">{{social.decrpt_key|removebyte}}</div>
          </td>
           <td>
            <div class="font-bold pl-12 " >{{social.platform| capfirst}}</div>
          </td>
          <td class="pl-32" id="{{social.id}}">
            <div class="flex" id="{{social.password}}">
             {{social.password|removebyte}}
             <div class="tooltip tooltip-accent" data-tip="copy">
              
            
              <svg
             
                class=" clicktocopy w-6 h-6 ml-1 cursor-pointer"
                
                fill="none"
                stroke="currentcolor" 
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                id="test"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"
                ></path>
              </svg>
            </div>
              </div>
            </div>
          </td>

          <td>{{social.date_created|timezone:localtime}}</td>
          <td >
            <label class=" {{social.platform}} {{social.id}} {{social.password|removebyte}} {{social.decrpt_key|removebyte}}  edit-pass btn btn-sm ml-5" for="my-modal-edit">EDIT</label>
          </td>
          <td >
            <label for="my-modal-3" class="{{social.id}} delete-pass  btn btn-sm ml-10 btn-outline btn-error modal-button">Delete</label>
            <!-- <button class=" {{social.id}} delete-pass  btn btn-sm ml-10 btn-outline btn-error">Delete</button> -->
          </td>
        </tr>
         
        <!-- row2 -->

        
      
      {% endfor %}
    </tbody>
      <!-- foot -->
    </table>
   

    <img src="{{request.user.customer.profile_pic.url}}" alt="">
  <!-- The button to open modal -->
<!-- <label for="my-modal-3" class="btn modal-button">open modal</label> -->

<!-- password delete modal -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Password deletion request</h3>
    <p class="py-4">You have requeted to delete</p>
    <button class="btn-del btn btn-xs float-right btn-error">Accept</button>
  </div>
</div>
  

<!-- password edit modal -->
<input type="checkbox" id="my-modal-edit" class="modal-toggle" />

<div class="modal ">
  <div class="modal-box ">
    <div class="modal-action-pass float-right absolute top-0 right-3">
        
      <label for="my-modal-edit" class=" float-right btn   btn-xs btn-circle " type="submit" 
      >X</label>
    </div>
  
    <div class="w-full">
      
      <form method="POST" action="" class="rounded px-8 pt-6 pb-8 mb-4">
       {%csrf_token%}
        <div class="mb-4 w-full">
          <label
            class="block text-white-100 text-sm font-bold mb-2"
            for="username"
          >
           Edit Social Platform Name
          </label>
          <input
            class="input input-bordered input-sm border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
            id="editplatform"
            type="text"
            placeholder="Platform"
            
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-white-100 text-sm font-bold mb-2"
            for="password"
          >
           Edit Password
          </label>
          <div class="relative">
             <input
              class=" passval input input-bordered input-sm border rounded w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-spassword"
              type="text"
              placeholder="******"
              
              value=""
            />
             <button class="strpass btn btn-xs absolute top-1-2 right-2">GENERATE</button> 
        </div>
          

          
          <span class="text-xs text-red-400 formerror" id="edit-Errorplt"></span>
        </div>
       
     
    </div>
    
      <div class="flex justify-center items-center ">
        <button  class="btn btn-wide" type="submit" onclick="platformeditsubmit(event)" 
        >Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- <button class="btn btn-xs hover:text-white">
  <label for="my-modal-edit">Add social</label>
  <i class="fa-solid fa-plus text-teal-600 ml-2"></i>
</button> -->

{%else%}
  <h1>You are not logged in</h1>
{%endif%}




<!-- <script type="text/javascript" src="{% static 'src/passscript.js' %}"></script> -->

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script>
  var id='';
 function platformeditsubmit(e){
  let editplatform=$('#editplatform').val();
  let editpassword=$('#edit-spassword').val();

  idval=id;
  console.log(editplatform,editpassword,idval);
  if (editplatform=="" || editpassword==""){
    event.preventDefault();

    document.getElementById("edit-Errorplt").innerHTML = "*one of the is empty";

  }else{
  $.ajax({
    type: 'POST',
    url:'{% url "password" %}',
    
    data:{
        'update':'update',
        'editplt':editplatform,
        'editpass':editpassword,
        'id':idval,
        'csrfmiddlewaretoken':'{{ csrf_token }}'
        
    },
    success: function(){
       console.log('sucess');
       location.reload();
       
    }
})
}
 }


  $('.edit-pass').on('click', function(){
    var platform=$(this)[0].classList[0];
    id =$(this)[0].classList[1];
    var password =$(this)[0].classList[2];
    var key=$(this)[0].classList[3];
    console.log(platform,id,password,key);
    //let test=$('#editplatform').val(platform);
    //console.log(test)

    $.ajax({
      type: 'GET',
      url:'{% url "decrypt" %}',
      data:{
          'password':password,
          'decrypt_key': key
         
          
      },
      success: function(response){
        var res=response
        console.log('created');
        console.log(response['decrypted_password'])
        password=response['decrypted_password']
        $('#editplatform').val(platform);
        $('#edit-spassword').val(password);
        
        
      }

     
  })


  });
 
  $('.strpass').on('click', function(e){
    e.preventDefault();
   //var value=$(".passval").attr("value", 'newval');

    $.ajax({
      type: 'GET',
      url:'{% url "stpass" %}',
      data:{
          'data':'generate'
          
      },
      success: function(response){
        var res=response
        console.log('created');
        console.log(response['spassword'])
        $('.passval').val(response['spassword']);
        $(".passval").attr("type", 'text');
        

      }

     
  })
  });






  $('.clicktocopy').on('click', function(){
    var that=this
    var hash_password = $(this).parent().parent().text();
    var key = $(this).parent().parent().parent().parent().attr('id');
    $(this).parent().attr('data-tip','copied')
    $(this).attr('stroke','cyan')
  
    setTimeout(function(){
      $(that).parent().attr('data-tip','copy');
      $(that).attr('stroke','currentcolor')
    }, 2000);
    
   

    $.ajax({
      type: 'GET',
      url:'{% url "decrypt" %}',
      data:{
          'password':hash_password,
          'decrypt_key': key
         
          
      },
      success: function(response){
        var res=response
        console.log('created');
        console.log(response['decrypted_password'])
        navigator.clipboard.writeText(response['decrypted_password']);
      }

     
  })

});
  
  $('.delete-pass').on('click', function(){
    
    
  var key_id = $(this)[0].classList[0];
   console.log(key_id)
    
  

  $('.btn-del').on('click', function(){

   

   $.ajax({
    type: 'POST',
    url:'{% url "delete-rec" %}',
    
    data:{
        'record-del':key_id,
        'csrfmiddlewaretoken':'{{ csrf_token }}'
        
    },
    success: function(){
       console.log('sucess');
       location.reload();
       
    }
})
})
});

</script>
<script>
$(document).ready(function(){
  $("#success-alert").delay(5000).slideUp(300);
});
</script>

<script>

function platformsubmit(event){
  platform=document.getElementById("platform").value
  password=document.getElementById("spassword").value
  if (platform=="" || password==""){
    event.preventDefault();

    document.getElementById("Errorplt").innerHTML = "*Both the  fields are required";

  }
}

/* function copybtnclick(event){
  var getId = $(event).parent().parent().attr('id');
	alert(getId);
  alert(event.target.getElementById)
  
}*/ 





</script>

{% endblock %}
