{% extends "index.html" %}
{% load static %}
<!-- {%block style%} <link rel="stylesheet" href="{% static 'public/output.css' %}">{%endblock%} -->

{%block snup%} <a class="btn btn-sm hover:text-white " href="{% url 'login' %}">  Already HAVE ms-psw</a>{%endblock%}
    
    {% block content %}
    <div class=" grid place-items-center mt-16 ">
     
        <div class="text-center">
            <span class="text-teal-600 font-bold content-center lg:text-4xl md:text-2xl ">CREATE MASTER PASSWORD </span>
          </div>
          <form method="POST" action="" name="Rform">
            {% csrf_token %}
              <div class="mt-4 md:-ml-28 ">
                  <div>
                      <label class="text-white-100 text-sm font-bold mb-2" for="Name">Name</label>
                        <input type="text" name="username" id="id_username" placeholder="Type here"  class=" input input-bordered w-full px-4 py-2 mt-2    focus:outline-none focus:ring-1 focus:ring-teal-600" value='{{data.username}}' >
                  </div>
                  <span class="text-xs text-red-400 formerror" id="Euser"></span>
                  <div class="mt-4">
                      <label class="text-white-100 text-sm font-bold mb-2" for="email">Email</label>
                              <input type="email" placeholder="Email" name="email" 
                              value='{{data.email}}'id="id_email"
                                  class=" input input-bordered w-full py-2 mt-2  focus:outline-none focus:ring-1 focus:ring-teal-600">
                  </div>
                  <span class="text-xs text-red-400 formerror" id="Eemail"></span>
                  <div class="mt-4">
                      <label class="text-white-100 text-sm font-bold mb-2">Password</label>
                      
                              <input type="password" 
                              value='{{data.password1}}'
                               placeholder="Password" name="password1" id="id_password1"
                                  class=" input input-bordered w-full px-4 py-2 mt-2 focus:outline-none focus:ring-1 focus:ring-teal-600">
                  </div>
                  <span class="text-xs text-red-400 formerror" id="Epass1"></span>
                  <div class="mt-4">
                      <label class="text-white-100 text-sm font-bold mb-2">Confirm Password</label>
                              <input type="password" placeholder="Password" id="id_password2" name="password2"
                                  class="input input-bordered w-full px-4 py-2 mt-2  focus:outline-none focus:ring-1 focus:ring-teal-600">
                  </div>
                 
                  <span class="text-xs text-red-400 formerror" id="Epass2"></span>
                  {% if form.errors %}
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  {% if error %}
                  <script>
                    if ('{{field}}' == "username") {
                      document.getElementById("Euser").innerHTML = "*"+"{{error}}";
                    }
                   if('{{field}}' == "email"){
                      document.getElementById("Eemail").innerHTML =  "*"+"{{error}}";
                    }
                     if('{{field}}' == "password2"){
                         document.getElementById("Epass2").innerHTML = "*"+"{{error}}";
                      }
                  </script>
                  {% else %}
                  <script>
                  document.getElementById("Epass1").innerHTML = "";
                </script>
                  {% endif %}
                  
                  {% endfor %}
                  {% endfor %}
                  {% endif %}
                  <div class="flex mb-10" >
                    <button id="sub-btn" class="btn  btn-outline mt-5 w-full" type="submit" onclick="validateForm(event)">Submit <i class="fa fa-paper-plane " aria-hidden="true"></i></button>
                  </div>
                  
              </div>
          </form>
      </div>
  </div>

  
      <script src="{% static 'src/eye.js' %}"></script>
    <script src="{% static 'src/validation.js' %}"></script>
   
       
       
      
        
        

    
    
        {% endblock %}