
{% extends "index.html" %}
{% load static %}


{% block content %}




<div class="grid place-items-center mt-40">

    
  <div>
    <span class="text-teal-600 font-bold lg:text-4xl md:text-2xl  text-left "> PASSWORD RESET COMPLETE </span><br>
    <div class="mt-5 ml-2"><span class="break-words  font-light text-red-400  ">Your password has been set. You may go ahead and log in now.  <a  class="btn btn-xs" href="{% url 'login' %}">lOG IN</a></span></div>
   
  </div>
  <!-- href="{% url 'email_sent' %}" -->
</div>
{% endblock content%}