{% extends "index.html" %}
{% load static %}



{%block snup%} <a class="btn hover:bg-teal-600 " href="{% url 'login' %}"> Remember MS-PSWD</a>{%endblock%}




{% block content %}
<div class="grid place-items-center mt-40">


    <div class="text-center">
      <span class="text-teal-600 font-bold content-center lg:text-4xl md:text-2xl letter-spacing: 0.1em"> ENTER USER EMAIL </span>
    </div>
	<form method="POST">
		{% csrf_token %}
    <div class="form-control mt-10 text-center mx-auto  lg:mx-0">
      <div class="input-group  ">
        <div class="relative ">
          <div class="absolute inset-y-0 right-14 flex items-center  ">
            <input class="hidden js-password-toggle" id="toggle" type="checkbox"  />
          
            <!-- <label class=" cursor-pointer js-password-label " for="toggle"><i
                class="fa-solid fa-eye-slash fa-sm "></i></label> -->
          </div>
		  
          <input type="email" placeholder="email" class=" input input-bordered lg:h-10 w-82 js-password" value="{{ user_email }}" 
            id="password" name="email" required id="id_email"/>
			

          <button class="btn btn-square h-px w-auto -ml-2.5" type="submit">
			

            <i class="fa-solid fa-arrow-right-to-bracket text-teal-600"></i>
          </button>
        </div>
      </div>
		 </div> 
		</form>
		
			
        
        
    
    <!-- <div class="container   text-center ml-10">
      <a class="link link-hover text-xs mt-2  mx-auto"> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
    </div> -->
    
{% if form_error %}
  <div class="text-left mr-16">
      <span class="text-xs text-red-400 " >*{{form_error}}</span>
      

  </div>
{%endif %}

    <script src="{% static 'src/eye.js' %}"></script>
{% endblock %}